{template 'common/header'}
<style type="text/css">
.we7-form .control-label, form .control-label {
    text-align: right;
}
.col-lg-offset-1 {
    margin-left: 0; text-align:right
}
.date {
    padding: 0px 12px;
}
</style>
<div class="clearfix">
	<form action="{php echo $this->createWebUrl('Cardr',array('action'=>'edit','id' => $ed_ac['id']));}" method="post" class="form-horizontal ajaxfrom we7-form" role="form" id="form-user">
        <input name="id" value="{$ed_ac['id']}" type="hidden">

		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">OPENID</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="openid" name="openid" class="form-control" value="{$ed_ac['openid']}" type="text" disabled="disabled">
			</div>
		</div>
        
                        		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">创建时间</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
                 <input type="text" class="form-control" value="{php echo date('Y-m-d H:i:s',$ed_ac[uptime]);}" disabled="disabled">
			</div>
		</div>
        
        
                       <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属行业</label>
                    <div class="col-sm-8">
                        <select class="we7-select" name="cid">
                            {loop $okClass $index $item}
                                <option value="{$item['sort']}" {if $ed_ac[indes] == $item[sort]} selected="selected" {/if}>{$item['csname']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
        
        
                                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属类型</label>
                    <div class="col-sm-8">
                        <select class="we7-select" name="user_vip">
                            <option value="0" {if $ed_ac[user_vip] == 0} selected="selected" {/if}>普通用户</option>
                            <option value="1" {if $ed_ac[user_vip] == 1} selected="selected" {/if}>VIP用户</option>
                        </select>
                        <span class="help-block">更改为VIP会员后，设置到期时间才生效</span>
                    </div>
                </div>
        
        
        
                		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">到期时间</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
                 {php echo tpl_form_field_date('overtime', date('Y-m-d H:i',$ed_ac[overtime]) ,true);}
                 <span class="help-block">点击可直接更改VIP到期时间</span>
			</div>
		</div>
		
		
		        		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">热 度</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="heat" name="heat" class="form-control" value="{$ed_ac['heat']}" type="text">
			</div>
		</div>
        
        
                <div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">头像封面</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				{php echo tpl_form_field_image('avatarUrl',$ed_ac['avatarUrl']);}
			</div>
		</div>
        
        		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">姓 名</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="nickName" name="nickName" class="form-control" value="{$ed_ac['nickName']}" type="text">
			</div>
		</div>
        
        
        		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">头 衔</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="user_zc" name="user_zc" class="form-control" value="{$ed_ac['user_zc']}" type="text">
			</div>
		</div>
        
        		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">电 话</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="mobile" name="mobile" class="form-control" value="{$ed_ac['mobile']}" type="text">
			</div>
		</div>
        
        
                		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">微 信</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="user_weixin" name="user_weixin" class="form-control" value="{$ed_ac['user_weixin']}" type="text">
			</div>
		</div>
        
        		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">公 司</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<input id="user_gs" name="user_gs" class="form-control" value="{$ed_ac['user_gs']}" type="text">
			</div>
		</div>
        
        <div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">相关介绍</label>
			<div class="col-sm-10 col-lg-9 col-xs-12">
				<textarea id="signature" name="signature" style="height:80px;" class="form-control">{$ed_ac['signature']}</textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<input class="btn btn-primary span3" name="submit" value="提交修改" type="submit">
				<input name="token" value="{$_W['token']}" type="hidden">
			</div>
		</div>
        
        
	</form>
</div>
{template 'common/footer'}
