﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海报首页</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-title" content="海报首页">
    <link rel="stylesheet" href="/addons/life_haibao/template/mobile/poster/css/newposterindex.css">
    <script src="/addons/life_haibao/template/mobile/poster/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        var docEl = document.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
                docEl.style.fontSize = 10 * (docEl.clientWidth / 320) + 'px';
            };
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    </script>
</head>
<body>
  <div>
    <ul class="poster-nav">
      <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-index.html">推荐</a></li>
      <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-more.html">更多</a></li>
      <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-watermark.html">加水印</a></li>
    </ul>
  </div>
  <div class="poster-tit">
    <ul class="list-inline">
      <li class="li1">最新海报</li><li>
      </li>
    </ul>
  </div>
  <div class="poster-list-index">
    <ul style="width: 4640px;" class="poster-new">
        <li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-eightysix.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/86.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-eightyfive.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/85.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-eightyfour.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/84.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-eightythree.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/83.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-eightytwo.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/82.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-eightyone.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/81.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-peixunthirtyeight.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/px38.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-zhaoshangfortyeight.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/zs48.jpg"  alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-peixunthirtyseven.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/px37.jpg" alt="pic"/>
          </a>
        </li><li>
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-seventyseven.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/77.jpg" alt="pic"/>
          </a>
        </li>
    </ul>
  </div>
  <div>
    <ul class="list-inline">
      <li class="li1">名片海报</li><li>
      </li>
    </ul>
  </div>
  <div class="poster-list-index">
    <ul style="width: 4640px;" class="poster-display">
       <!--  <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-seventynine.html"><img src="/addons/life_haibao/template/mobile/poster/images/79.jpg" alt="pic"/></a></li>
        <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-seventyeight.html"><img src="/addons/life_haibao/template/mobile/poster/images/78.jpg"/></a></li>
        <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-seventyseven.html"><img src="/addons/life_haibao/template/mobile/poster/images/77.jpg"/></a></li> -->
    </ul>
  </div>
  <div>
    <ul class="list-inline">
      <li class="li1">培训海报</li><li>
      </li>
    </ul>
  </div>
  <div class="poster-list-index">
    <ul style="width: 4640px;" class="poster-train">
        <!-- <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-peixunthirtynine.html"><img src="/addons/life_haibao/template/mobile/poster/images/px39.jpg" alt="pic"/></a></li>
        <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-peixunthirtyeight.html"><img src="/addons/life_haibao/template/mobile/poster/images/px38.jpg"/></a></li>
        <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-peixunthirtyseven.html"><img src="/addons/life_haibao/template/mobile/poster/images/px37.jpg"/></a></li> -->
    </ul>
  </div>
  <div>
    <ul class="list-inline">
      <li class="li1">招商海报</li><li>
      </li>
    </ul>
  </div>
  <div class="poster-list-index">
    <ul style="width: 4640px;" class="poster-business">
       <!-- <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-zhaoshangfifty.html"><img src="/addons/life_haibao/template/mobile/poster/images/zs50.jpg" alt="pic"/></a></li> 
        <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-zhaoshangfortynine.html"><img src="/addons/life_haibao/template/mobile/poster/images/zs49.jpg"></a></li>
        <li><a href="/addons/life_haibao/template/mobile/poster-poster-templete-zhaoshangfortyeight.html"><img src="/addons/life_haibao/template/mobile/poster/images/zs48.jpg"></a></li> -->
    </ul>
  </div>
  <div>
    <ul class="list-inline">
      <li class="li1">1:1方形海报</li><li>
      </li>
    </ul>
  </div>
  <div class="poster-list-index">
    <ul style="width: 4640px;">
        <li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuthirtyfive.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ft35.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuthirtyfour.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ft34.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuthirtythree.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ft33.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuthirtytwo.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ft32.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtupxseventeen.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ftp17.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtupxsixteen.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ftp16.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtupxfifteen.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ftp15.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuzsnineteen.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ftz19.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuzseighteen.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ftz18.jpg" alt="pic"/>
          </a>
        </li><li class="fang">
          <a href="/addons/life_haibao/template/mobile/poster-poster-templete-fangtuzsseventeen.html">
            <img src="/addons/life_haibao/template/mobile/poster/images/ftz17.jpg" alt="pic"/>
          </a>
        </li>
    </ul>
  </div>
  <div>
    <ul class="list-inline" id="tagmore">
      <li class="li1 tagmore"><a href="/addons/life_haibao/template/mobile/poster-poster-templete-more.html">更多海报模板<img src="/addons/life_haibao/template/mobile/poster/images/tagmore.png" alt="tagmore"></a></li><li>
      </li>
    </ul>
  </div>
  <div class="poster-mask">
    <div class="poster-maskinner">
       <img src="/addons/life_haibao/template/mobile/poster/images/loading.gif" alt="load"/>
      <p>Loading......</p>
    </div>
  </div>
  <script>
    $(function(){
          $.ajax({
                type: 'GET',
                url: '/addons/life_haibao/template/mobile/poster/json/more1.json',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    for(var i = 1; i < 13; i++){
                        result +=
                           '<li><a href="'+data.lists[i].link+'">'
                                +'<img src="/addons/life_haibao/template/mobile/poster/'+data.lists[i].pic+'" alt="pic">'
                            +'</a></li>';
                    }
                    setTimeout(function(){
                        $('.poster-display').append(result);
                    },100);
                },
                error: function(xhr, type){
                    // alert('Ajax error!');
                    console.log("请求失败");
                }
          });
          $.ajax({
                type: 'GET',
                url: '/addons/life_haibao/template/mobile/poster/json/more2.json',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    for(var i = 1; i < 13; i++){
                        result +=
                           '<li><a href="'+data.lists[i].link+'">'
                                +'<img src="/addons/life_haibao/template/mobile/poster/'+data.lists[i].pic+'" alt="pic">'
                            +'</a></li>';
                    }
                    setTimeout(function(){
                        $('.poster-train').append(result);
                    },100);
                },
                error: function(xhr, type){
                    // alert('Ajax error!');
                    console.log("请求失败");
                }
          });
          $.ajax({
                type: 'GET',
                url: '/addons/life_haibao/template/mobile/poster/json/more3.json',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    for(var i = 1; i < 13; i++){
                        result +=
                           '<li><a href="'+data.lists[i].link+'">'
                                +'<img src="/addons/life_haibao/template/mobile/poster/'+data.lists[i].pic+'" alt="pic">'
                            +'</a></li>';
                    }
                    setTimeout(function(){
                        $('.poster-business').append(result);
                    },100);
                },
                error: function(xhr, type){
                    // alert('Ajax error!');
                    console.log("请求失败");
                }
          });
          setTimeout(function(){
                $('.poster-mask').fadeOut();
          },1500);
    })
  </script>
</body>
</html>