﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海报首页</title>
    <meta name="apple-mobile-web-app-title" content="海报首页">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <link rel="stylesheet" type="text/css" href="/addons/life_haibao/template/mobile/poster/css/addswiper.css">
    <link rel="stylesheet" type="text/css" href="/addons/life_haibao/template/mobile/poster/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/addons/life_haibao/template/mobile/poster/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/addons/life_haibao/template/mobile/poster/css/dropload.css">
    <script src="/addons/life_haibao/template/mobile/poster/js/jquery-2.2.3.min.js"></script>
    <script src="/addons/life_haibao/template/mobile/poster/js/swiper.min.js"></script>
    <script src="/addons/life_haibao/template/mobile/poster/js/touch.min.js"></script>
    <script src="/addons/life_haibao/template/mobile/poster/js/edit_1.js"></script>
    <script src="/addons/life_haibao/template/mobile/poster/js/htc.js"></script>
    <script src="/addons/life_haibao/template/mobile/poster/js/dropload.min.js"></script>
   <script type="text/javascript">
        var docEl = document.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
                docEl.style.fontSize = 10 * (docEl.clientWidth / 320) + 'px';
            };
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    </script>
   
</head>
<body>
    <div class="first">
        <div class="header">
            <nav>
                <div class="nav">
                    <ul>
                        <li style="width:28%"><a href="javascript:history.back();">返回</a></li>
                        <li style="width:45%"><a href="">微商海报</a></li>
                        <li style="width:22%"><a href="javascript:history.back();">首页</a></li>
                    </ul>
                </div>
            </nav>
        </div>
<meta name="viewport" content="width=640,user-scalable=no">
    <div class="editfp8">
        <div class="editfp8_con"> 
          <div class="editfp8_conbg1">
            <img src="/addons/life_haibao/template/mobile/poster/images/fp8up1.jpg">
          </div>
          <div class="editfp8_conbg2">
            <div class="editfp8_up1">
                <div class="editfp8_up11">
                    <div class="editfp8_fileInput">
                          <input type="file" capture="camera" name="editfp8_upfile" id="editfp8_upfile" style="display:none" class="editfp8_upfile" onchange="document.getElementById('editfp8_upfileResult').innerHTML=this.value;"/>
                          <input class="editfp8_upFileBtn" id="editfp8_upfileResult" type="button" value="上传图片" onclick="document.getElementById('editfp8_upfile').click();" />
                    </div>
                </div>
            </div> 
            <div class="editfp8_con1">
                  <p contenteditable="true">微商天团</p>
            </div>
            <div class="editfp8_con2">
                  <p contenteditable="true">想做微商？而你还在犹豫</p>
                  <p contenteditable="true">加入天商团队，共创辉煌未来</p>
                  <p contenteditable="true">现在加入一点都不算晚</p>
                  <p contenteditable="true">资深讲师，一对一培训</p>
                  <p contenteditable="true">微信:wx88888888</p>
            </div>
          </div>
        </div>
        <div class="shengchengfp8">
            <div><h3>生成</h3></div>
            <p id="desnote" style="text-align:center;">修改模板上的“图片”和“文字”生成你的海报</p>
            <div style="background-color:#ffffff"></div>
        </div>  
    </div>
  </div>
    <!--方图培训第八个页面结束 -->
    
     <script type="text/javascript">
        $("#editfp8_upfile").change(function(){
        var objUrl = getObjectURL(this.files[0]);
        console.log("objUrl = "+objUrl);
        if (objUrl) {
         $(".editfp8_conbg1 img").attr("src", objUrl);
          }
        });
    $("#editfp8_upfile2").change(function(){
        var objUrl = getObjectURL(this.files[0]);  
        if (objUrl) {
          $(".editfp8_con2 img").attr("src", objUrl);
        }
      });   
         //建立一个可存取到该file的url
      function getObjectURL(file) {
        var url = null ; 
        if (window.createObjectURL!=undefined) { // basic
          url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
          url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
          url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
      }
      $(".shengchengfp8").click(function(){
                
                $(".shengchengfp8").hide();
                $(".editfp8_up1").hide();
                $(".editfp8_up2").hide();
                $(".editfp8_up3").hide();
                $(".header").hide();
                $("body").css("background","none");
                
                html2canvas($(".editfp8_con"), {
                        allowTaint: true,
                        taintTest: false,
                        onrendered: function(canvas) {
                            canvas.id = "mycanvas";
                            //生成base64图片数据
                            $(".header").show();
                            $(".baocun").show();
                            $(".tool").show();
                            var dataUrl = canvas.toDataURL("image/png");
                             $(".baocunimg img").attr("src",dataUrl);
                            $(".pic-download-use").attr("src",dataUrl);
                            $(".editfp8").hide();
                            console.log("已生成");
                        }
                });
        });
    //方图培训第八个页面结束
     </script>
<!-- 第一个页面结束 -->
     <div class="baocun" style="display:none">
         <div class="baocunimg">
             <img src="">
         </div>
         <!-- <p style="width:100%;text-align:center;margin-top: 10px;">长按屏幕上的图片保存到手机</p>
         <div class="conshengcheng">
            
             <div><h3><a href="/addons/life_haibao/template/mobile/poster-index.html">继续生成</a></h3></div>
         </div> -->
     </div>
     <div class="tool" id="tool">
    <div class="download">
      <img class="icon" src="/addons/life_haibao/template/mobile/poster/images/result-longtap.png"><span>按住图片保存</span>
      <img id="pic-download-use2" class="pic-download-use" src="">
    </div>
    <img class="toolfooter" src="/addons/life_haibao/template/mobile/poster/images/result-footer.png">
  </div>
     <!-- 生成后显示页面结束 -->
     <!-- 添加touch事件 -->
    <script type="text/javascript">
       // 获取节点
      var block = document.getElementById("editmove");
      var oW,oH;
      // 绑定touchstart事件
      block.addEventListener("touchstart", function(e) {
       console.log(e);
       var touches = e.touches[0];
       oW = touches.clientX - block.offsetLeft;
       oH = touches.clientY - block.offsetTop;
       //阻止页面的滑动默认事件
       document.addEventListener("touchmove",defaultEvent,false);
      },false)
     
      block.addEventListener("touchmove", function(e) {
       var touches = e.touches[0];
       var oLeft = touches.clientX - oW;
       var oTop = touches.clientY - oH;
       // if(oLeft < 0) else if(oLeft > document.documentElement.clientWidth - block.offsetWidth) {
       //  oLeft = (document.documentElement.clientWidth - block.offsetWidth);
       // }
       block.style.left = oLeft + "px";
       block.style.top = oTop + "px";
      },false);
       
      block.addEventListener("touchend",function() {
       document.removeEventListener("touchmove",defaultEvent,false);
      },false);
      function defaultEvent(e) {
       e.preventDefault();
      }
    </script>
    <!-- 拖动--> 
    <!-- 监听手势 缩放-->
    <script type="text/javascript">
            var target1 = document.getElementById("editmove");
            // target1.style.webkitTransition = 'all ease 0.05s';

            touch.on('#editmove', 'touchstart', function(ev){
                ev.preventDefault();
            });

            var initialScale = 1;
            var currentScale;

            touch.on('#editmove', 'pinchend', function(ev){
                currentScale = ev.scale - 1;
                console.log(currentScale);
                currentScale = initialScale + currentScale;
                // currentScale = currentScale > 2 ? 2 : currentScale;//去掉这部分可以让自由缩放没有最大最小限制
                // currentScale = currentScale < 1 ? 0.5 : currentScale;
                this.style.webkitTransform = 'scale(' + currentScale + ')';
                console.log("当前缩放比例为:" + currentScale + ".");
            });

            touch.on('#editmove', 'pinchend', function(ev){
                initialScale = currentScale;
            });
    </script>
     <script type="text/javascript">
       // 获取节点
      var block2 = document.getElementById("editmovetwo");
      var oW2,oH2;
      // 绑定touchstart事件
      block2.addEventListener("touchstart", function(e) {
       console.log(e);
       var touches = e.touches[0];
       oW2 = touches.clientX - block2.offsetLeft;
       oH2 = touches.clientY - block2.offsetTop;
       //阻止页面的滑动默认事件
       document.addEventListener("touchmove",defaultEvent,false);
      },false)
     
      block2.addEventListener("touchmove", function(e) {
       var touches = e.touches[0];
       var oLeft2 = touches.clientX - oW2;
       var oTop2 = touches.clientY - oH2;
       // if(oLeft < 0) else if(oLeft > document.documentElement.clientWidth - block.offsetWidth) {
       //  oLeft = (document.documentElement.clientWidth - block.offsetWidth);
       // }
       block2.style.left = oLeft2 + "px";
       block2.style.top = oTop2 + "px";
      },false);
       
      block2.addEventListener("touchend",function() {
       document.removeEventListener("touchmove",defaultEvent,false);
      },false);
      function defaultEvent(e) {
       e.preventDefault();
      }
    </script>
    <!-- 拖动--> 
    <!-- 监听手势 缩放-->
    <script type="text/javascript">
            var target2 = document.getElementById("editmovetwo");
            // target2.style.webkitTransition = 'all ease 0.05s';

            touch.on('#editmovetwo', 'touchstart', function(ev){
                ev.preventDefault();
            });

            var initialScale2 = 1;
            var currentScale2;

            touch.on('#editmovetwo', 'pinchend', function(ev){
                currentScale2 = ev.scale - 1;
                console.log(currentScale2);
                currentScale2 = initialScale2 + currentScale2;
                // currentScale = currentScale > 2 ? 2 : currentScale;//去掉这部分可以让自由缩放没有最大最小限制
                // currentScale = currentScale < 1 ? 0.5 : currentScale;
                this.style.webkitTransform = 'scale(' + currentScale2 + ')';
                console.log("当前缩放比例为:" + currentScale2 + ".");
            });

            touch.on('#editmovetwo', 'pinchend', function(ev){
                initialScale2 = currentScale2;
            });
    </script>
    

</body>
</html>