{if empty($mcert)}
	暂无认证资料
{else}
	<style type="text/css">
    .form-horizontal .radio{min-height:inherit;padding-top:0}
    </style>
    {if $mcert['type']==1}
    <table class="table table-cron table-hover table-bordered">
        <tbody>
            <tr><th width="150">审核状态</th><td>
            <label class="radio radio-inline">
                <input type="radio" name="status" value="1"{if $mcert['status']==1} checked="checked"{/if}> 通过
            </label>
            <label class="radio radio-inline">
                <input type="radio" name="status" value="2"{if $mcert['status']==2} checked="checked"{/if}> 驳回
            </label></td></tr>
            <tr><th width="150">认证类型</th><td>个人认证</td></tr>
            <tr><th width="150">证件类型</th><td>身份证</td></tr>
            <tr><th width="150">真实姓名</th><td>{$mcert['detail']['name']}</td></tr>
            <tr><th width="150">证件号码</th><td>{$mcert['detail']['idcard']}</td></tr>
            <tr><th width="150">证件正面照片</th><td><a href="{php echo tomedia($mcert['detail']['thumb'][0]);}" target="_blank"><img src="{php echo tomedia($mcert['detail']['thumb'][0]);}" height="100" style="margin:0 5px 5px 0;"></a></td></tr>
            <tr><th width="150">证件背面照片</th><td><a href="{php echo tomedia($mcert['detail']['thumb'][1]);}" target="_blank"><img src="{php echo tomedia($mcert['detail']['thumb'][1]);}" height="100" style="margin:0 5px 5px 0;"></a></td></tr>
            <tr><th width="150">通知备注</th><td><input type="text" name="messge_remark" class="form-control" value="" placeholder="在此填写审核结果备注说明"></td></tr>
        </tbody>
    </table>
    {else}
    <table class="table table-cron table-hover table-bordered">
        <tbody>
            <tr><th width="150">审核状态</th><td>
            <label class="radio radio-inline">
                <input type="radio" name="status" value="1"{if $mcert['status']==1} checked="checked"{/if}> 通过
            </label>
            <label class="radio radio-inline">
                <input type="radio" name="status" value="2"{if $mcert['status']==2} checked="checked"{/if}> 驳回
            </label></td></tr>
            <tr><th width="150">认证类型</th><td>企业认证</td></tr>
            <tr><th width="150">企业全称</th><td>{$mcert['detail']['company']}</td></tr>
            <tr><th width="150">法定代表人姓名</th><td>{$mcert['detail']['name']}</td></tr>
            <tr><th width="150">营业执照注册码</th><td>{$mcert['detail']['idcard']}</td></tr>
            <tr><th width="150">营业执照照片</th><td><a href="{php echo tomedia($mcert['detail']['thumb'][0]);}" target="_blank"><img src="{php echo tomedia($mcert['detail']['thumb'][0]);}" height="100" style="margin:0 5px 5px 0;"></a></td></tr>
            <tr><th width="150">通知备注</th><td><input type="text" name="messge_remark" class="form-control" value="" placeholder="在此填写审核结果说明"></td></tr>
        </tbody>
    </table>
    {/if}
    <input type="hidden" name="mid" value="{$mcert['mid']}" />
{/if}